

html {
  height: 100%;
}
body {
  height: 100%;
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
  color: white;
}
.theme{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 70%;
  border-radius: 50%;
}
.theme a {
  width: 70%;
  height: 70%;
  background-image: url(../images/sunny-day.png);
}
@media (max-width: 1300px){
  .facet_sidebar{
      display: none;
  }
}
.colLeft {
  position: absolute;
  width: 23%;
  float: left;
  padding: 12px;
  height: 100%;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}
.colRight {
  position: absolute;
  letter-spacing: 1px;
  left: 23%;
  width: 77%;
  height: 100%;
  justify-content: center;
  display: flex;
}
.box-left img {
  display: flex;
  /*background-color: azure;*/
  justify-content: center;

}

#filters.filter {
  display: flex;
  align-items: center;
  left: 4%;
  width: 81.5%;
  position: absolute;
  padding: 10px;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  letter-spacing: 1px;
}
.box-left ul h3 {
  position: relative;
  width: 230px;
  height: 30px;
  left: -30px;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(252, 252, 252, 0);
  font-size: 20px;
  orientation: center;
  justify-content: left;
  display: flex;
  align-items: center;
  margin-left: 10px;
  letter-spacing: 1px;
}
.box-left ul h3:hover {
  background: #1665db;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #1665db,
              0 0 25px #1665db,
              0 0 50px #1665db,
              0 0 100px #1665db;

}
.box-left a {
  top: 1px;
  position: relative;
  width: 200px;
  height: 40px;
  align-content: center;
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
}
.dashhome {
  vertical-align: center;
  width: 50px;
  height: 10px;
  padding-bottom: 40px;
  background-image: url(../images/free-home-icon-2502-thumb.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-color: rgba(255, 255, 255, 0.60);
  background-position: center;
  position: relative;
  border-radius: 50px;
  list-style-type: none;
  left: -40px;
}
ul{
  cursor: pointer;
}
.delete-user{
  cursor: pointer;
}
#id-add-home{
    width: 100%;
    height: -webkit-fill-available;
    display: none;
    justify-content: center;
    align-items: center;
}
.listusers {
  width: 50px;
  height: 10px;
  padding-bottom: 40px;
  background-image: url(../images/Lista.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-color: rgba(255, 255, 255, 0.60);
  background-position: center;
  position: relative;
  border-radius: 50px;
  list-style-type: none;
  left: -40px;
}
.status-server {
  width: 50px;
  height: 10px;
  padding-bottom: 40px;
  background-image: url(../images/settings.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-color: rgba(255, 255, 255, 0.60);
  background-position: center;
  position: relative;
  border-radius: 50px;
  list-style-type: none;
  left: -40px;
}
.useradd {
  vertical-align: center;
  width: 50px;
  height: 10px;
  padding-bottom: 40px;
  background-image: url(../images/add-user.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-color: rgba(255, 255, 255, 0.60);
  background-position: center;
  position: relative;
  border-radius: 50px;
  list-style-type: none;
  left: -40px;
}
.userlogout {
    width: 50px;
    height: 10px;
    padding-bottom: 40px;
    background-image: url(../images/logout.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-color: rgba(255, 255, 255, 0.60);
    background-position: center;
    position: relative;
    border-radius: 50px;
    list-style-type: none;
    left: -40px;
}
.logo-box ul {
  position: absolute;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  background-image: url(../images/wecom.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: right;
}

.action {
  display: flex;
  position: relative;
  left: 380px;
  top: 100%;
}
.a-user{
  width: 50px;
  height: 10px;
  padding-bottom: 40px;
  background-image: url(../images/unknown-user.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-color: rgba(255, 255, 255, 0.60);
  background-position: center;
  position: relative;
  border-radius: 50px;
  list-style-type: none;
  left: -40px;
}
.main-user {
    display: flex;
    height: calc(100vh - 450px);
    width: 100%;
    align-items: flex-start;
    flex-direction: column-reverse;
}
.main-user ul h3{
  position: relative;
  width: 60%;
  height: 0px;
  left: -30px;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(252, 252, 252, 0);
  font-size: 20px;
  orientation: center;
  justify-content: left;
  display: flex;
  align-items: center;
  /* padding-right: 20px; */
  margin-left: 10px;
  letter-spacing: 1px;

}
#cards.cards{
  display: flex;
  left: -80px;
  width: 150px;
  height: 180px;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
  margin-right: 15px;
}
.epygi-image img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  border-radius: 50%;
}
.main-cards {
    /*left: 4.5%;*/
    top: 12%;
    height: -webkit-fill-available;
    display: flex;
    position: absolute;
    width: 100%;
    background-color: transparent;
    align-items: center;
    bottom: 1%;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    overflow-y: auto;
}
.scrolltable {
  display: flex;
  overflow-y: auto;
  position: absolute;
  width: 98%;
  /*height: -webkit-fill-available;*/
  top: 10%;
  left: 2%;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(252, 252, 252, 0); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #243b55;
  box-shadow: inset 0 0 5px gray;
}
.select-box label{
  font-size: 12px;
  letter-spacing: 1px;
}
#filter-department{
  padding: 3px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #29242456;
  color: #ffffff;
  width: 90px;
  text-transform: capitalize;
  
}
#filter-department option {
  padding: 8px;
  background-color: #29242456;
  color: white;
}

#filter-department option:hover {
  background-color: white;
}

#filter-department option:checked {
  color: #ffffff;
}

.table, th, td{
  /* background-color: rgba(255, 255, 255, 0.60); */
  border: 2px solid #2c333b;
  border-collapse: collapse;
}
/* html {
  height: 100%;
}
body {
  /* margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55); 
} */
.add-select-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.addlocal {
    
    border: 1;
    outline: 0;
    width: 13em;
    height: 2em;
    padding: 0 2em 0 1em;
    background: no-repeat right 0.8em center / 1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.1) 3em, rgba(255, 255, 255, 0.10) 3em);
    color: white;
    border-radius: 0.75em;
    cursor: pointer;
}
    /* Remove IE arrow */
    .addlocal ::-ms-expand {
        display: none;
    }

    /* <option> colors */
    .addlocal option {
        padding: 8px;
        background-color: #29292bea;
        color: white;
        border-radius: 0.75em;
    }

        .addlocal option:hover {
            background-color: white;
        }

        .addlocal option:checked {
            color: #ffffff;
        }

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}
.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.login-box h3 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #1665db;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #1665db;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #1665db;
  color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 5px #1665db,
              0 0 25px #1665db,
              0 0 50px #1665db,
              0 0 100px #1665db;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #1665db);
  animation: btn-anim1 2s linear infinite;
}
.login-box .img-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 10px; 
  color: #fff;
  margin-bottom: 0px;
  border: none;
  border-bottom: 0px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .img-box label {
  position: relative;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #1665db);
  animation: btn-anim2 2s linear infinite;
  animation-delay: .50s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #1665db);
  animation: btn-anim3 2s linear infinite;
  animation-delay: 1.00s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #1665db);
  animation: btn-anim4 2s linear infinite;
  animation-delay: 1.50s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
.lostlink a {
position: relative !important;
top:0 !important;
left: 0 !important;
padding: 5px 0 !important;
font-size: 11px !important;
color: #fff !important;
pointer-events: none !important;
text-transform: none !important
}  
#id-add-dep{
  display: flex;
  overflow-y:auto;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
input[type="color"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    height: 2em;
    padding: 0;
    width: 100%;
}

*:focus {
    border-radius: 0;
    outline: none;
}
.list-box {
    margin: 25px;
    /* position: relative; */
    width: 90%;
    padding: 30px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
.add-box {
  margin: 25px;
  position: relative;
  width: 400px;
  padding: 30px;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}
.add-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.add-box h3 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.add-box .user-box {
  position: relative;
}

.add-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.add-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.add-box .user-box input:focus ~ label,
.add-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #1665db;
  font-size: 12px;
}

.add-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #1665db;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.add-box a:hover {
  background: #1665db;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #1665db,
              0 0 25px #1665db,
              0 0 50px #1665db,
              0 0 100px #1665db;
}

.add-box a span {
  position: absolute;
  display: block;
}

.add-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #1665db);
  animation: btn-anim1 2s linear infinite;
}
.add-box .img-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 10px; 
  color: #fff;
  margin-bottom: 0px;
  border: none;
  border-bottom: 0px solid #fff;
  outline: none;
  background: transparent;
}
.add-box .img-box label {
  position: relative;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.add-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #1665db);
  animation: btn-anim2 2s linear infinite;
  animation-delay: .50s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.add-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #1665db);
  animation: btn-anim3 2s linear infinite;
  animation-delay: 1.00s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.add-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #1665db);
  animation: btn-anim4 2s linear infinite;
  animation-delay: 1.50s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
#top-bottons{
  display: flex;
  align-items: center;
  left: 4%;
  width: 81.5%;
  position: absolute;
  padding: 10px;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  letter-spacing: 1px;
  justify-content: center;
  width: 90%;
  height: 6%;
}
#top-bottons ul {
  position: relative;
  display: flex;
  font-size: 12px;
  transition: .5s;
  letter-spacing: 4px;
  width: 34%;
  padding: 0;
  justify-content: center;
  text-align: center;
}

#top-bottons ul h2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 80%;
}
 #top-bottons ul :hover {
  background: #1665db;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #1665db,
              0 0 25px #1665db,
              0 0 50px #1665db,
              0 0 100px #1665db;

} 
#top-bottons ul a h2.focused {
  background: #1665db;
  /* Adicione outros estilos que você deseja aplicar quando um elemento estiver "focado" aqui */
}




/*media query responsivo todas telas */

@media screen and (min-width: 950px) and (max-width: 1300px) {
    .box-left ul h3 {
        position: relative;
        width: 230px;
        height: 30px;
        left: -40px;
        color: rgba(255, 255, 255, 0.9);
        background-color: rgba(252, 252, 252, 0);
        font-size: 20px;
        orientation: center;
        justify-content: left;
        display: flex;
        align-items: center;
        margin-left: 10px;
        letter-spacing: 1px;
        font-size: medium;
    }

    .main-user ul h3 {
        position: relative;
        width: 60%;
        height: 0px;
        left: -30px;
        color: rgba(255, 255, 255, 0.9);
        background-color: rgba(252, 252, 252, 0);
        font-size: 20px;
        orientation: center;
        justify-content: left;
        display: flex;
        align-items: center;
        /* padding-right: 20px; */
        margin-left: 10px;
        letter-spacing: 1px;
        /* font-size: medium; */
    }

    .theme {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        height: 70%;
        margin-left: -20px;
        border-radius: 50%;
    }

    .dashhome {
        vertical-align: center;
        width: 45px;
        height: 10px;
        padding-bottom: 35px;
        background-image: url(../images/free-home-icon-2502-thumb.png);
        background-repeat: no-repeat;
        background-size: 30px;
        background-color: rgba(255, 255, 255, 0.60);
        background-position: center;
        position: relative;
        border-radius: 50px;
        list-style-type: none;
        left: -40px;
    }

    .useradd {
        vertical-align: center;
        width: 45px;
        height: 10px;
        padding-bottom: 35px;
        background-image: url(../images/add-user.png);
        background-repeat: no-repeat;
        background-size: 25px;
        background-color: rgba(255, 255, 255, 0.60);
        background-position: center;
        position: relative;
        border-radius: 50px;
        list-style-type: none;
        left: -40px;
    }

    .listusers {
        width: 45px;
        height: 10px;
        padding-bottom: 35px;
        background-image: url(../images/Lista.png);
        background-repeat: no-repeat;
        background-size: 30px;
        background-color: rgba(255, 255, 255, 0.60);
        background-position: center;
        position: relative;
        border-radius: 50px;
        list-style-type: none;
        left: -40px;
    }
    .status-server {
      width: 45px;
      height: 10px;
      padding-bottom: 35px;
      background-image: url(../images/settings.png);
      background-repeat: no-repeat;
      background-size: 30px;
      background-color: rgba(255, 255, 255, 0.60);
      background-position: center;
      position: relative;
      border-radius: 50px;
      list-style-type: none;
      left: -40px;
    }
    .userlogout {
        width: 45px;
        height: 10px;
        padding-bottom: 35px;
        background-image: url(../images/logout.png);
        background-repeat: no-repeat;
        background-size: 30px;
        background-color: rgba(255, 255, 255, 0.60);
        background-position: center;
        position: relative;
        border-radius: 50px;
        list-style-type: none;
        left: -40px;
    }

    .select-box {
        justify-content: center;
    }

        .select-box label {
            font-size: 12px;
            letter-spacing: 1px;
            margin-left: 15px;
        }

    #filter-department {
        padding: 3px;
        font-size: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #29242456;
        /* color: #ffffff; */
        width: 90px;
        text-transform: capitalize;
    }

    .login-box .user-box input {
        width: 100%;
        padding: 5px 0;
        font-size: 16px;
        color: #fff;
        margin-bottom: 20px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
    }

    .scrolltable {
        display: flex;
        justify-content: center;
        overflow-y: auto;
        position: absolute;
        /*width: 100%;*/
        height: -webkit-fill-available;
        top: 8%;
    }

    .main-cards {
        /* top: 1px; */
        height: -webkit-fill-available;
        display: flex;
        position: absolute;
        width: 100%;
        background-color: transparent;
        align-items: center;
        bottom: 1%;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        /* align-content: flex-start; */
    }

    #filters.filter {
        display: flex;
        align-items: center;
        left: 15%;
        width: 70%;
        position: absolute;
        padding: 10px;
        background: rgba(0,0,0,.5);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        border-radius: 10px;
        letter-spacing: 1px;
    }
}

@media screen and (min-width: 650px) and (max-width: 950px) {
    .box-left ul h3 {
        position: relative;
        width: 230px;
        height: 30px;
        left: -40px;
        color: rgba(255, 255, 255, 0.9);
        background-color: rgba(252, 252, 252, 0);
        font-size: 20px;
        orientation: center;
        justify-content: left;
        display: flex;
        align-items: center;
        margin-left: 10px;
        letter-spacing: 1px;
        font-size: x-small;
    }

    .main-user ul h3 {
        position: relative;
        width: 60%;
        height: 0px;
        left: -30px;
        color: rgba(255, 255, 255, 0.9);
        background-color: rgba(252, 252, 252, 0);
        font-size: 20px;
        orientation: center;
        justify-content: left;
        display: flex;
        align-items: center;
        /* padding-right: 20px; */
        margin-left: 10px;
        letter-spacing: 1px;
        /* font-size: medium; */
    }

    .theme {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        height: 70%;
        margin-left: -35px;
        border-radius: 50%;
    }

    #id-add-dep {
        justify-content: center;
        /* display: inline-grid !important; */
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 90%;
    }
    ul#dashhome{
        width:100%;
    }
    .dashhome {
        vertical-align: center;
        /*width: 30px;*/
        height: 10px;
        padding-bottom: 25px;
        background-image: url(../images/free-home-icon-2502-thumb.png);
        background-repeat: no-repeat;
        background-size: 20px;
        background-color: rgba(255, 255, 255, 0.60);
        background-position: center;
        position: relative;
        border-radius: 15px;
        list-style-type: none;
        left: -40px;
    }
    ul#useradd{
        width:100%;
    }
    .useradd {
        vertical-align: center;
        /*width: 30px;*/
        height: 10px;
        padding-bottom: 25px;
        background-image: url(../images/add-user.png);
        background-repeat: no-repeat;
        background-size: 20px;
        background-color: rgba(255, 255, 255, 0.60);
        background-position: center;
        position: relative;
        border-radius: 15px;
        list-style-type: none;
        left: -40px;
    }
    ul#departadd{
        width:100%;
    }
    .departadd {
        vertical-align: center;
        /*width: 30px;*/
        height: 10px;
        padding-bottom: 25px;
        background-image: url(../images/add-user.png);
        background-repeat: no-repeat;
        background-size: 20px;
        background-color: rgba(255, 255, 255, 0.60);
        background-position: center;
        position: relative;
        border-radius: 15px;
        list-style-type: none;
        left: -40px;
    }
    ul#listusers {
        width: 100%;
    }
    .listusers {
        /*width: 30px;*/
        height: 10px;
        padding-bottom: 25px;
        background-image: url(../images/Lista.png);
        background-repeat: no-repeat;
        background-size: 20px;
        background-color: rgba(255, 255, 255, 0.60);
        background-position: center;
        position: relative;
        border-radius: 15px;
        list-style-type: none;
        left: -40px;
    }
    .status-server {
              /*width: 30px;*/
              height: 10px;
              padding-bottom: 25px;
              background-image: url(../images/settings.png);
              background-repeat: no-repeat;
              background-size: 20px;
              background-color: rgba(255, 255, 255, 0.60);
              background-position: center;
              position: relative;
              border-radius: 15px;
              list-style-type: none;
              left: -40px;
      }
    .userlogout {
        width: 30px;
        height: 10px;
        padding-bottom: 25px;
        background-image: url(../images/logout.png);
        background-repeat: no-repeat;
        background-size: 20px;
        background-color: rgba(255, 255, 255, 0.60);
        background-position: center;
        position: relative;
        border-radius: 15px;
        list-style-type: none;
        left: -40px;
    }

    #logout {
        width: 100%;
        display: flex;
        height: 45px;
        align-items: center;
    }

        #logout h3 {
            font-size: x-small;
        }

    .select-box {
        justify-content: center;
    }

    #body > div.colLeft > div.main-user > ul:nth-child(1) > h3 {
        font-size: small !important;
    }

    .select-box label {
        font-size: 12px;
        letter-spacing: 1px;
        margin-left: 15px;
    }

    #filter-department {
        padding: 3px;
        font-size: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #29242456;
        /* color: #ffffff; */
        width: 90px;
        text-transform: capitalize;
    }

    .login-box .user-box input {
        width: 100%;
        padding: 5px 0;
        font-size: 16px;
        color: #fff;
        margin-bottom: 20px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
    }

    .scrolltable {
        display: flex;
        justify-content: center;
        overflow-y: auto;
        position: absolute;
        /*width: 100%;*/
        height: -webkit-fill-available;
        top: 8%;
    }

    .main-cards {
        /* top: 1px; */
        height: -webkit-fill-available;
        display: flex;
        position: absolute;
        width: 100%;
        background-color: transparent;
        align-items: center;
        bottom: 1%;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        /* align-content: flex-start; */
    }

    #filters.filter {
        display: flex;
        align-items: center;
        left: 15%;
        width: 70%;
        position: absolute;
        padding: 10px;
        background: rgba(0,0,0,.5);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        border-radius: 10px;
        letter-spacing: 1px;
    }

    .a-user {
        width: 30px;
        height: 10px;
        padding-bottom: 25px;
        background-image: url(../images/unknown-user.png);
        background-repeat: no-repeat;
        background-size: 25px;
        background-color: rgba(255, 255, 255, 0.60);
        background-position: center;
        position: relative;
        border-radius: 15px;
        list-style-type: none;
        left: -40px;
    }

    .add-box {
        margin: 15px;
        position: relative;
        width: 300px;
        padding: 30px;
        background: rgba(0,0,0,.5);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        border-radius: 10px;
    }
}

@media screen and (max-width: 650px) {
    .box-left ul h3 {
        position: relative;
        width: 25px;
        height: 30px;
        left: -40px;
        color: rgba(255, 255, 255, 0.9);
        background-color: rgba(252, 252, 252, 0);
        font-size: 20px;
        orientation: center;
        justify-content: left;
        display: flex;
        align-items: center;
        margin-left: 10px;
        letter-spacing: 1px;
        font-size: x-small;
    }

    .main-user ul h3 {
        position: relative;
        width: 60%;
        height: 0px;
        left: -30px;
        color: rgba(255, 255, 255, 0.9);
        background-color: rgba(252, 252, 252, 0);
        font-size: 20px;
        orientation: center;
        justify-content: left;
        display: flex;
        align-items: center;
        /* padding-right: 20px; */
        margin-left: 10px;
        letter-spacing: 1px;
        /* font-size: medium; */
    }

    .theme {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        height: 70%;
        margin-left: -35px;
        border-radius: 50%;
    }

    #id-add-dep {
        justify-content: center;
        /* display: inline-grid !important; */
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 90%;
    }

    .dashhome {
        vertical-align: center;
        width: 20px;
        height: 10px;
        padding-bottom: 15px;
        background-image: url(../images/free-home-icon-2502-thumb.png);
        background-repeat: no-repeat;
        background-size: 15px;
        background-color: rgba(255, 255, 255, 0.60);
        background-position: center;
        position: relative;
        border-radius: 10px;
        list-style-type: none;
        left: -40px;
    }

    .useradd {
        vertical-align: center;
        width: 20px;
        height: 10px;
        padding-bottom: 15px;
        background-image: url(../images/add-user.png);
        background-repeat: no-repeat;
        background-size: 15px;
        background-color: rgba(255, 255, 255, 0.60);
        background-position: center;
        position: relative;
        border-radius: 10px;
        list-style-type: none;
        left: -40px;
    }

    .listusers {
        width: 20px;
        height: 10px;
        padding-bottom: 15px;
        background-image: url(../images/Lista.png);
        background-repeat: no-repeat;
        background-size: 15px;
        background-color: rgba(255, 255, 255, 0.60);
        background-position: center;
        position: relative;
        border-radius: 10px;
        list-style-type: none;
        left: -40px;
    }
    .status-server {
      width: 20px;
      height: 10px;
      padding-bottom: 15px;
      background-image: url(../images/settings.png);
      background-repeat: no-repeat;
      background-size: 15px;
      background-color: rgba(255, 255, 255, 0.60);
      background-position: center;
      position: relative;
      border-radius: 10px;
      list-style-type: none;
      left: -40px;
  }

    .userlogout {
        width: 20px;
        height: 10px;
        padding-bottom: 15px;
        background-image: url(../images/logout.png);
        background-repeat: no-repeat;
        background-size: 15px;
        background-color: rgba(255, 255, 255, 0.60);
        background-position: left 5% center;
        position: relative;
        border-radius: 15px;
        list-style-type: none;
        left: -40px;
    }

    #filters.filter {
        display: flex;
        align-items: center;
        /* left: 15%; */
        width: 90%;
        position: absolute;
        padding: 10px;
        background: rgba(0,0,0,.5);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        border-radius: 10px;
        letter-spacing: 1px;
    }

    #logout {
        width: 100%;
        display: flex;
        height: 0 !important;
        align-items: center !important;
    }

        #logout h3 {
            font-size: x-small;
        }

    .select-box {
        justify-content: center;
    }

    #body > div.colLeft > div.main-user > ul:nth-child(1) > h3 {
        font-size: 10px;
    }

    .select-box label {
        font-size: 12px;
        letter-spacing: 1px;
        margin-left: 15px;
    }

    #filter-department {
        padding: 3px;
        font-size: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #29242456;
        /* color: #ffffff; */
        width: 90px;
        text-transform: capitalize;
    }

    .login-box .user-box input {
        width: 100%;
        padding: 5px 0;
        font-size: 16px;
        color: #fff;
        margin-bottom: 20px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
    }

    .login-box {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 320px;
        padding: 40px;
        transform: translate(-50%, -50%);
        background: rgba(0,0,0,.5);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        border-radius: 10px;
    }

    .scrolltable {
        display: flex;
        justify-content: center;
        overflow-y: auto;
        position: absolute;
        /*width: 100%;*/
        height: -webkit-fill-available;
        top: 8%;
    }

    .main-cards {
        /* top: 1px; */
        height: -webkit-fill-available;
        display: flex;
        position: absolute;
        width: 100%;
        background-color: transparent;
        align-items: center;
        bottom: 1%;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        /* align-content: flex-start; */
    }

    #filters.filter {
        display: flex;
        align-items: center;
        left: 15%;
        width: 70%;
        position: absolute;
        padding: 10px;
        background: rgba(0,0,0,.5);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        border-radius: 10px;
        letter-spacing: 1px;
    }

    .a-user {
        width: 20px;
        height: 10px;
        padding-bottom: 15px;
        background-image: url(../images/unknown-user.png);
        background-repeat: no-repeat;
        background-size: 15px;
        background-color: rgba(255, 255, 255, 0.60);
        background-position: center;
        position: relative;
        border-radius: 15px;
        list-style-type: none;
        left: -40px;
    }

    .add-box {
        margin: 15px;
        position: relative;
        width: 280px;
        padding: 30px;
        background: rgba(0,0,0,.5);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        border-radius: 10px;
    }
}
/*fim media query */
.toast {
  font-size: 30px;
  height: 42%;
  width: 90%;
  display: none;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  background-color: rgba(0,0,0,1);
  color: #fff;
  border-radius: 30px;
}

.toast p {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.toast button {
  margin-right: 5px;
}
#yesButtom{
  width: 50px;

}
.noButtom{
  width: 50px;
  
}
#ss-service{
  width: 100%; 
  height: 100%;
  justify-content: center;
  text-align: center;

}
#ss-box{
  position: absolute;
  top: 30%;
  width: 50%;
  height: 50%;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 30px;
}

#restartService{
    font-size: 25px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    border: #1665db 1px solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.659), 0 0 0.5em currentColor;
    box-shadow: inset 0 0 1em 0 #1665db, 0 0 0.5em 0 #1665db;
    position: relative;
    /* transform: perspective(1.2em) rotateX(40deg) scale(1.5, 0.5);
	filter: blur(1.15em); */
	opacity: 1.0;

	transition: transform 0.5s linear;

}
#restartService:hover{
  box-shadow: inset 10px 1px 4.0em 0 #1665db, 0 0 0.5em 0 #1665db;
}
.progress{
  height: 1.5%;
  background-color: #77777700;
  position: absolute;
  width: 90%;
  left: 5%;
  display: none;
  bottom: 0;

}

.progress .progress-bar{
 position: absolute;
 height: 100%;
 width: 100%;
 background-color: #16db23 ;
 animation: progress-animation 4s infinite;
}
@keyframes progress-animation{
  0% { width: 0%;
  background-color: #00ff11;}
  100% { width: 100%; 
    background-color: #1665db;}
}