@charset "UTF-8"; 

#section.title.dwc {
    height: 170px;
    background-image: url(../images/header-dwc.png);
    background-repeat: no-repeat;
    background-position: left 25% center; 
    background-size: cover;
    border-bottom: solid 1px #FFFFFF;
}
*{
    margin: 0;
    border: 0;
}
body{
    overflow: hidden;
    font-family: 'Montserrat semi bold';
}
.div-anuncios {
    width: 83%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .div-anuncios-950px {
    width: 83%;
    height: calc(100vh - 100px);
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    display: none;
    justify-content: center;
  }
  
 .img950px {
    max-width: 180px;
    height: auto;
    width: 100%;
}
  
  .content-one {
    position: sticky;
    top: 0;
  }
  
  .scroll-cards {
    overflow-y: auto;
    flex-grow: 1;
    margin-top: 10px;
  }
.div-content{
    display: flex;
    justify-content: center; 
    width: 40%;
   
}
#div-cards {
    overflow-y: auto;
    height: calc(100vh - 160px);
    overflow-x: hidden;
  }

.div-cards{
    width: 60%; 
    /* background: #dddbdb; */
}
.div-users{
  width: 60%;
}
.div-users {
    overflow-y: auto;
    height: calc(100vh - 200px);
    overflow-x: hidden;
  }

#section.title.dwc h1 {
    font-size: 36px;
    font-weight: 400;
    padding: 135px 0 0 30%;
    background-image: url(../images/direct-webcall.png);
    background-repeat: no-repeat;
    background-size: auto 170px;
    animation-name: animaLogo;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
/* status dos cards dwc*/
img.online{
    border-left: 2px solid rgb(1,253,0);
}
img.away {/* Status do usuário */
    border-left: 2px solid #a3a000;
}
img.DND {/* Status do usuário */
    border-left: 2px solid rgb(255,29,37);
}
img.lunch {/* Status do usuário */
    border-left: 2px solid #e822a9;
}
img.meeting {/* Status do usuário */
    border-left: 2px solid #3400a3;
}
img.Offline {/* Status do usuário */
    border-left: 3px solid #9b9b9b;
}

@keyframes animaLogo {
    0% {
        background-position: bottom 500px left 5%;
    }

    50% {
        background-position: bottom 0 left 5%;
    }

    75% {
        background-position: bottom 120px left 5%;
    }

    87.5% {
        background-position: bottom 0 left 5%;
    }

    93.75% {
        background-position: bottom 40px left 5%;
    }

    100% {
        background-position: bottom 0 left 5%;
    }
}

#sectionPrincipal.dwc {
    /* overflow-y: auto; */
    display: inline-flex;
}

#sectionPrincipal.dwc ul {
    margin-top: 25px;
    font-size: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
  
  #sectionPrincipal.dwc ul li {
    width: 29%;
    margin-right: 3.2%;
    margin-bottom: 3.2%;
    position: relative;
    border-radius: 10px;
    padding-bottom: 17%;
    background-image: linear-gradient(to right,rgb(168,17,6),rgb(248,65,69));
}
.ul-users{
    margin-top: 20px !important;
    font-size: 0px;
    width: 100% !important;
    list-style: none;
    display: inline-flex !important;
    flex-wrap: wrap;
}
.ul-users li{
    width: 43% !important;
    margin-right: 3.2% ;
    margin-bottom: 3.2% ;
    position: relative;
    border-radius: 10px;
    padding-bottom: 1.5% !important;
    display: flex ;
    align-items: center;
    color: white;
}
#clickBack{
    width: 60%;
    display: flex;
    justify-content: flex-end;
}
.div-users ul li img {
    width: 47px;
    margin-left: 6px;
    margin-top: 5px;
    border-radius: 50%;
  }
  #depart-div{
    width: 25%; 
    margin-left: 40px;
    /* margin-top: 25px; */
    /* background-color: blue; */
    font-family: 'Montserrat';
    text-transform: capitalize;
    color: black;
    font-weight: bold;
    font-size: x-large;
  }
  .main-depart-div{
    margin-top: 25px;
    display: flex;
    align-items: center;
  }
  .imgBtnBack{
    width: 120px;
    cursor: pointer;
  }
  .user-card {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .user-details {
    margin-left: 15px;
    margin-top: 10px;
  }
  
  .user-name {
    font-weight: bold;
    font-size: large;
    white-space: nowrap;
  }
  .user-status{
    font-size: x-small;
  }
  .user-details .user-name {
    margin-bottom: -7px;
  }
  .user-icons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  
  .img-icons{
    margin-right: 10px;
    width: 32px !important
  }

  /* #sectionPrincipal.dwc ul li:nth-child(3n) {
    margin-right: 0;
  } */
  
  #sectionPrincipal.dwc ul li a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px 15px 20px;
    background-position: center;
    background-size: cover;
}


/* #sectionPrincipal.dwc ul li a.pre-vendas {
    background-image: url(./images/flag-pre-vendas.png);
}

#sectionPrincipal.dwc ul li a.vendas {
    background-image: url(./images/flag-vendas.png);
}

#sectionPrincipal.dwc ul li a.suporte-tecnico {
    background-image: url(./images/flag-suporte-tecnico.png);
}

#sectionPrincipal.dwc ul li a.marketing {
    background-image: url(./images/flag-marketing.png);
}

#sectionPrincipal.dwc ul li a.financeiro {
    background-image: url(./images/flag-financeiro.png);
}

#sectionPrincipal.dwc ul li a.administrativo {
    background-image: url(./images/flag-administrativo.png);
}

#sectionPrincipal.dwc ul li a.recursos-humanos {
    background-image: url(./images/flag-recursos-humanos.png);
}

#sectionPrincipal.dwc ul li a.logistica {
    background-image: url(./images/flag-logistica.png);
}

#sectionPrincipal.dwc ul li a.contratos {
    background-image: url(./images/flag-contratos.png);
}

#sectionPrincipal.dwc ul li a.compras {
    background-image: url(./images/flag-compras.png);
}

#sectionPrincipal.dwc ul li a.projetos {
    background-image: url(./images/flag-projetos.png);
}

#sectionPrincipal.dwc ul li a.pricing {
    background-image: url(./images/flag-pricing.png);
} */

#sectionPrincipal.dwc ul li h5 {
    font-weight: 400;
    text-align: center;
}

#sectionPrincipal.dwc ul li span {
    display: block;
    position: absolute;
    bottom: 13px;
    left: 100px;
    right: 12px;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    -khtml-border-radius: 15px;
    -moz-border-radius: 15px;
    /* -webkit-border-radius: 15px; */
    text-align: center;
    font-weight: 400;
    background-image: url(../images/dwc-button.png);
    background-position: right 6.5px center;
    background-repeat: no-repeat;
    background-size: 23px;
    padding-right: 25px;
    text-align: center;
    font-size: 0.85rem;
    font-family: 'Montserrat semi bold';
    color: black;
    font-weight: bold;
}
/* li bg */
.bgdBlue{background-image: linear-gradient(to right,rgb(168,17,6),rgb(248,65,69));}

/* webkit scroll bar div-cards */

::-webkit-scrollbar {
    width: 10px;
    /* height: 20px; */
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgb(139, 139, 139); 
    border-radius: 15px;
  }
   
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right, rgb(168, 17, 6), rgb(248, 65, 69));
    border-radius: 15px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #960909dc; 
  }
  
.aside {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.aside .lembrete {
    background-image: url(../images/bg-lembrete.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    padding: 25px 10px;
}

 .aside .lembrete p {
    line-height: 1.2em;
}

 .aside .lembrete p strong {
    display: block;
    padding-bottom: .7em;
    font-weight: 700;
}

 .aside .lembrete + a {
    position: absolute;
    bottom: 0;
}

#sectionPrincipal.dwc .label + span {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    padding-bottom: 40px;
    margin-right: 1em;
    background-image: url(../images/dwc.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    position: relative;
}
/*and (max-width: 1900px)*/


/*telas maiores*/
@media screen and (min-width: 1500px) {
    #section.title.dwc {
        height: 240px;
        background-image: url(../images/header-dwc.png);
        background-repeat: no-repeat;
        background-position: left 25% center; 
        background-size: cover;
        border-bottom: solid 1px #FFFFFF;
    }
    #div-cards {
    overflow-y: auto;
    height: calc(100vh - 260px);
    overflow-x: hidden;
  }
  .div-anuncios{
    width: 92%;
    margin-top: 10px;
}
}
@media screen and (max-width: 1300px) {

    #section.title.dwc {
        height: 170px;
        background-image: url(../images/header-dwc.png);
        background-repeat: no-repeat;
        background-position: 0%;
        background-size: cover;
        border-bottom: solid 1px #FFFFFF;
    }
    .div-anuncios{
        width: 93%;
        margin-top: 20px;
    }
    @keyframes animaLogo {
        0% {
            background-position: bottom 300px left 5%;
        }

        50% {
            background-position: bottom 0 left 5%;
        }

        75% {
            background-position: bottom 110px left 5%;
        }

        87.5% {
            background-position: bottom 0 left 5%;
        }

        93.75% {
            background-position: bottom 35px left 5%;
        }

        100% {
            background-position: bottom 0 left 5%;
        }
    }

    #sectionPrincipal.dwc ul li a {
        padding: 0 15px 25px 15px;
    }
    #sectionPrincipal.dwc ul li span {
        display: block;
        position: absolute;
        bottom: 13px;
        left: 100px;
        right: 12px;
        height: 30px;
        line-height: 30px;
        border-radius: 20px;
        -khtml-border-radius: 15px;
        -moz-border-radius: 15px;
        /* -webkit-border-radius: 15px; */
        text-align: center;
        font-weight: 400;
        background-image: url(../images/dwc-button.png);
        background-position: right 6.5px center;
        background-repeat: no-repeat;
        background-size: 23px;
        padding-right: 25px;
        text-align: center;
        font-size: 0.8rem;
        font-family: 'Montserrat semi bold';
        color: black;
        font-weight: bold;
    }
    #sectionPrincipal.dwc ul li span {
        bottom: 10px;
        left: 45px;
        right: 10px;
    }

    .aside .lembrete h4 {
        font-size: 18px;
    }
}


@media screen and (min-width: 601px) and (max-width: 950px) {
    #section.title.dwc {
        height: 110px;
        background-position: center right;
        background-image: url(../images/header-dwc.png);
        background-position: left 0% center;
    }
    #div-cards {
        overflow-y: auto;
        height: calc(100vh - 120px);
        overflow-x: hidden;
        width: 75%;
    }
    .div-content{
        width: 25%;
    }
    .div-anuncios-950px{
        display: flex;
        width: auto;
        height: calc(100vh - 130px);
        flex-direction: column;
        margin-top: 10px;
        align-items: center;
        justify-content: center;

    }
    .div-anuncios{
        display: none;
    }
    @keyframes animaLogo {
        0% {
            background-position: bottom 250px right 5%;
        }

        50% {
            background-position: bottom 0 right 5%;
        }

        75% {
            background-position: bottom 95px right 5%;
        }

        87.5% {
            background-position: bottom 0 right 5%;
        }

        93.75% {
            background-position: bottom 30px right 5%;
        }

        100% {
            background-position: bottom 0 right 5%;
        }
        
    }
    #sectionPrincipal.dwc ul li a {
        padding: 0 15px 25px 15px;
    }
    #sectionPrincipal.dwc ul {
        margin-left: -20px;
        margin-top: 25px;
        font-size: 0px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #sectionPrincipal.dwc ul li {
        width: 30%;
        margin-right: 2.0%;
        margin-bottom: 2.0%;
        position: relative;
        border-radius: 10px;
        padding-bottom: 18%;
    }
    #sectionPrincipal.dwc ul li span {
        display: block;
        position: absolute;
        bottom: 13px;
        left: 100px;
        right: 12px;
        height: 25px;
        align-items: center;
        justify-content: center;
        display: flex;
        line-height: 30px;
        border-radius: 20px;
        -khtml-border-radius: 15px;
        -moz-border-radius: 15px;
        /* -webkit-border-radius: 15px; */
        text-align: center;
        font-weight: 400;
        background-image: url(../images/dwc-button.png);
        background-position: right 6.5px center;
        background-repeat: no-repeat;
        background-size: 16px;
        padding-right: 25px;
        text-align: center;
        font-size: 0.65rem;
        font-family: 'Montserrat semi bold';
        color: black;
        font-weight: bold;
    }
    #sectionPrincipal.dwc ul li span {
        bottom: 10px;
        left: 65px;
        right: 10px;
    }

    .aside .lembrete h4 {
        font-size: 18px;
    }

}
/*mobile */

@media screen and (max-width: 600px) {
    body{
        overflow: auto;
    }
    #sectionPrincipal.dwc {
        /* overflow-y: auto; */
        display: block;
    }
    #section.title.dwc {
        height: 60px;
        background-position: right 0% center !important;
        background-image: url(../images/cabeçalho-600px.png);
        /* background-position: left 0% center !important; */
    }
    #div-cards{
        width: 100%;
        height: auto;
    }
    .div-content{
        width: 100%;
    }
    .div-anuncios{
        width: 85%;
        margin-top: 0px;
        height: auto !important;
    }
    #section.title.dwc h1 {
        font-size: 22px;
        padding: 100px 160px 0 0;
        margin: 0;
        position: absolute;
        bottom: 20px;
        left: 15px;
        right: 10px;
        background-size: auto 85px;
    }

    @keyframes animaLogo {
        0% {
            background-position: bottom 200px right 0;
        }

        100% {
            background-position: bottom 0 right 0;
        }
    }
    #sectionPrincipal.dwc ul li {
        width: 45%;
        margin-right: 3.2%;
        margin-bottom: 3.2%;
        position: relative;
        border-radius: 10px;
        padding-bottom: 25%;
        background-image: linear-gradient(to right,rgb(168,17,6),rgb(248,65,69));
    }
    #sectionPrincipal.dwc ul li span {
        height: 24px;
        line-height: 24px;
        border-radius: 12px;
        -khtml-border-radius: 12px;
        -moz-border-radius: 12px;
        -webkit-border-radius: 12px;
        background-size: 20px;
    }
    #sectionPrincipal.dwc ul{
        padding-inline-start: 25px;
    }
    .aside {
        max-width: 450px;
        margin: 0 auto;
        padding-right: 0;
    }

    .aside .lembrete {
        margin-bottom: 3.2%;
    }

    .aside .lembrete + a {
        position: relative;
        bottom: auto;
        right: auto;
        display: block;
        text-align: center;
    }
}
