################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/WWS-Epygi/.vs/WWS-Epygi/v17/.suo
/WWS-Epygi/.vs/WWS-Epygi/v17/.suo
/.gitignore
