.innovaphone-root-visitenkarten {
    box-sizing: border-box;
    font-size: 12px;
    /* color: #545454; */
    color: #FFFFFF;
    line-height: 1.4em;
    font-family: 'Montserrat', Arial, sans-serif;
    /* background-color: #dedede; */
    background-color: #02163F;
    left: 0;
    width: 355px;
    box-shadow: none;
    height: 245px;
    /* height: 265px; */
    position: relative;
    display: inline-block;
    vertical-align: text-top;
    margin: 20px;
    background-image: url(img-bg.png);
    background-repeat: no-repeat;
    background-position: top 35px right 45px;
    font-weight: 400;
}
.innovaphone-image {
    width: 135px;
    float: left;
    position: relative;
    height: 170px;
}
.innovaphone-tab__supporter-img.available {
    border-left: 4px solid #00a300;
}
.innovaphone-content {
    width: 220px;
    height: 147px;
    float: right;
    margin-left: 0;
    margin-top: 21px;
    visibility: visible;
    opacity: 1;
}
.innovaphone-content__status {
    padding-top: 7px;
}
.innovaphone-content__status__indicator.available {
    background: #3ced2f;
    background: -moz-radial-gradient(center, ellipse cover, #3ced2f 0%, #00a300 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #3ced2f 0%,#00a300 100%);
    background: radial-gradient(ellipse at center, #3ced2f 0%,#00a300 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ced2f', endColorstr='#00a300',GradientType=1 );
}
.innovaphone-image img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100px;
}
.innovaphone-content__status__indicator {
    width: 16px;
    height: 16px;
    margin-top: -4px;
    display: inline-block;
    vertical-align: middle;
    background-color: #00a300;
    border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.innovaphone-content__address {
    margin-top: 10px;
    line-height: 1.2em;
}
.innovaphone-tab {
    width: 100%;
    height: 56px;
    /* margin-top: 10px; */
    background-color: #677981;
    /* background-color: #aaaaaa; */
    float: left;
}
 .innovaphone-icons {
    height: 56px;
    width: 100%;
    margin-top: 0px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.innovaphone-icons > div {
    height: 35px;
    width: 81px;
    display: inline-block;
}
.innovaphone-icons__item {
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 11px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    border-radius: 50%;
    background-color: #474747;
    position: relative;
    opacity: .6;
    cursor: default;
    /* float: left; */
}
.innovaphone-icons__item.available {
    opacity: 1 !important;
    cursor: pointer;
}
a {
    text-decoration: none;
}
.innovaphone-icons__item--mail {
    opacity: 1 !important;
    cursor: pointer;
}
.innovaphone-tooltip {
    width: 150px;
    min-height: 40px;
    background-color: #006750;
    background-color: #dedede;
    position: absolute;
    top: -2px;
    left: -160px;
    color: #fff;
    color: #474747;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    box-sizing: border-box;
    padding-top: 11px;
    padding-bottom: 10px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .4s all ease;
    transition: .4s all ease;
}