@charset "UTF-8"; #section.title.dwc {
    height: 250px;
    background-image: url(./images/titulo-background.png);
    background-repeat: no-repeat;
    background-position: left 25% center;
    background-size: cover;
    border-bottom: solid 1px #FFFFFF;
    box-shadow: 0 1px 0 #0075AC;
}
*{
    margin: 0;
    border: 0;
}

.div-content{
   background-color: rgba(132, 161, 152, 0.699);
   width: 40%;
   
}
.div-cards{
    width: 60%; 
    background: rosybrown;
}
.div-users{
    width: 40%;
    display: none;
    justify-content: flex-start;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
#section.title.dwc h1 {
    font-size: 36px;
    font-weight: 400;
    padding: 135px 0 0 30%;
    background-image: url(./images/direct-webcall.png);
    background-repeat: no-repeat;
    background-size: auto 170px;
    animation-name: animaLogo;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes animaLogo {
    0% {
        background-position: bottom 500px left 5%;
    }

    50% {
        background-position: bottom 0 left 5%;
    }

    75% {
        background-position: bottom 120px left 5%;
    }

    87.5% {
        background-position: bottom 0 left 5%;
    }

    93.75% {
        background-position: bottom 40px left 5%;
    }

    100% {
        background-position: bottom 0 left 5%;
    }
}

#sectionPrincipal.dwc {
    overflow-x: hidden;
    display: inline-flex;
}

#sectionPrincipal.dwc ul {
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-right: 3.2%;
}

#sectionPrincipal.dwc ul li {
    width: 45%;
    margin: 0 3.2% 3.2% 0;
    position: relative;
    display: inline-block;
    vertical-align: text-top;
    padding-bottom: 26%;
}

#sectionPrincipal.dwc ul li:nth-child(4n), #sectionPrincipal.dwc ul li:last-child {
    margin-right: 0;
}

/* #sectionPrincipal.dwc ul li:nth-child(n+9):nth-child(-n+12) {
    margin-bottom: 0;
} */

#sectionPrincipal.dwc ul li a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px 30px 20px;
    background-position: center;
    background-size: cover;
}

#sectionPrincipal.dwc ul li a::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0);
    z-index: 0;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -ms-transition: background 1s;
    transition: background 1s;
}

#sectionPrincipal.dwc ul li a:hover::after {
    background-color: rgba(255,255,255,.5);
}

#sectionPrincipal.dwc ul li a.pre-vendas {
    background-image: url(./images/flag-pre-vendas.png);
}

#sectionPrincipal.dwc ul li a.vendas {
    background-image: url(./images/flag-vendas.png);
}

#sectionPrincipal.dwc ul li a.suporte-tecnico {
    background-image: url(./images/flag-suporte-tecnico.png);
}

#sectionPrincipal.dwc ul li a.marketing {
    background-image: url(./images/flag-marketing.png);
}

#sectionPrincipal.dwc ul li a.financeiro {
    background-image: url(./images/flag-financeiro.png);
}

#sectionPrincipal.dwc ul li a.administrativo {
    background-image: url(./images/flag-administrativo.png);
}

#sectionPrincipal.dwc ul li a.recursos-humanos {
    background-image: url(./images/flag-recursos-humanos.png);
}

#sectionPrincipal.dwc ul li a.logistica {
    background-image: url(./images/flag-logistica.png);
}

#sectionPrincipal.dwc ul li a.contratos {
    background-image: url(./images/flag-contratos.png);
}

#sectionPrincipal.dwc ul li a.compras {
    background-image: url(./images/flag-compras.png);
}

#sectionPrincipal.dwc ul li a.projetos {
    background-image: url(./images/flag-projetos.png);
}

#sectionPrincipal.dwc ul li a.pricing {
    background-image: url(./images/flag-pricing.png);
}

#sectionPrincipal.dwc ul li h5 {
    font-weight: 400;
    text-align: center;
}

#sectionPrincipal.dwc ul li span {
    display: block;
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    -khtml-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    text-align: center;
    font-weight: 400;
    background-image: url(./images/dwc-button.png);
    background-position: right 4px center;
    background-repeat: no-repeat;
    background-size: 26px;
    padding-right: 25px;
}

.aside {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.aside .lembrete {
    background-image: url(./images/bg-lembrete.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    padding: 25px 10px;
}

 .aside .lembrete p {
    line-height: 1.2em;
}

 .aside .lembrete p strong {
    display: block;
    padding-bottom: .7em;
    font-weight: 700;
}

 .aside .lembrete + a {
    position: absolute;
    bottom: 0;
}

#sectionPrincipal.dwc .label + span {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    padding-bottom: 40px;
    margin-right: 1em;
    background-image: url(./images/dwc.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    position: relative;
}

@media screen and (max-width: 1300px) {
    #section.title.dwc {
        height:200px;
    }

    #section.title.dwc h1 {
        font-size: 32px;
        padding: 100px 0 0 30%;
        background-size: auto 130px;
    }

    @keyframes animaLogo {
        0% {
            background-position: bottom 300px left 5%;
        }

        50% {
            background-position: bottom 0 left 5%;
        }

        75% {
            background-position: bottom 110px left 5%;
        }

        87.5% {
            background-position: bottom 0 left 5%;
        }

        93.75% {
            background-position: bottom 35px left 5%;
        }

        100% {
            background-position: bottom 0 left 5%;
        }
    }

    #sectionPrincipal.dwc ul li a {
        padding: 0 15px 25px 15px;
    }

    #sectionPrincipal.dwc ul li span {
        bottom: 15px;
        left: 15px;
        right: 15px;
    }

    .aside .lembrete h4 {
        font-size: 18px;
    }
}

@media screen and (max-width: 950px) {
    #section.title.dwc {
        height:160px;
        background-position: center right;
        background-image: url(./images/titulo-background950px.png);
    }

    #section.title.dwc h1 {
        font-size: 26px;
        padding: 85px 0 0 3%;
        background-size: auto 120px;
    }

    @keyframes animaLogo {
        0% {
            background-position: bottom 250px right 5%;
        }

        50% {
            background-position: bottom 0 right 5%;
        }

        75% {
            background-position: bottom 95px right 5%;
        }

        87.5% {
            background-position: bottom 0 right 5%;
        }

        93.75% {
            background-position: bottom 30px right 5%;
        }

        100% {
            background-position: bottom 0 right 5%;
        }
    }

    #sectionPrincipal.dwc ul {
        display: block;
        width: 100%;
        max-width: 650px;
        margin-right: auto;
        margin-left: auto;
    }

    #sectionPrincipal.dwc ul li {
        width: 100%;
        /* margin: 0; */
        padding-bottom: 65%;
    }

    #sectionPrincipal.dwc ul li:nth-child(2n) {
        margin-right: 0;
    }

    #sectionPrincipal.dwc ul li:nth-child(n+9):nth-child(-n+12) {
        margin-bottom: 3.2%;
    }

    .aside {
        display: block;
        width: 100%;
        max-width: 650px;
        margin: 0 auto;
        padding-right: 230px;
    }

    .aside .lembrete {
        padding: 15px 10px;
    }

    .aside .lembrete + a {
        right: 0;
    }

    #sectionPrincipal.dwc .label + span {
        width: 32px;
        padding-bottom: 32px;
    }
}

@media screen and (max-width: 550px) {
    #section.title.dwc {
        height:130px;
        background-position: center;
        background-image: url(./images/titulo-background550px.png);
    }

    #section.title.dwc h1 {
        font-size: 22px;
        padding: 100px 160px 0 0;
        margin: 0;
        position: absolute;
        bottom: 20px;
        left: 15px;
        right: 10px;
        background-size: auto 85px;
    }

    @keyframes animaLogo {
        0% {
            background-position: bottom 200px right 0;
        }

        100% {
            background-position: bottom 0 right 0;
        }
    }

    #sectionPrincipal.dwc ul li span {
        height: 24px;
        line-height: 24px;
        border-radius: 12px;
        -khtml-border-radius: 12px;
        -moz-border-radius: 12px;
        -webkit-border-radius: 12px;
        background-size: 20px;
    }

    .aside {
        max-width: 450px;
        margin: 0 auto;
        padding-right: 0;
    }

    .aside .lembrete {
        margin-bottom: 3.2%;
    }

    .aside .lembrete + a {
        position: relative;
        bottom: auto;
        right: auto;
        display: block;
        text-align: center;
    }
}
