<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--Ativar LOG-->
		<add key="LOG" value="true" />
		<add key="LOGFILE" value="C:\Users\public\WWS-log.txt" />
		<!--Dados conexão PBX-->
		<add key="PORTA" value="4849" />
		<add key="SERVIDOR" value="186.237.57.220" />
		<!--IP LOCAL DOS SERVÇOS HTTP e PBX-->
		<add key="IPLOCAL" value="127.0.0.1" />
		<!--Dados HTTP Server-->
		<add key="STARTHTTPSERVER" value="true" />
		<add key="PORTAHTTP" value="999" />
		<add key="PORTAHTTPS" value="9090" />
		<add key="MAXTHREADS" value="5" />
		<!--Dados HTTP Client-->
		<add key="ENVIAREVENTOS2" value="true" />
		<add key="URLEVENTOSATIVO2" value="https://homologacao.plataformatelessaude.ufrgs.br/" />
		<add key="URLEVENTOSATIVO" value="https://plataformatelessaude.ufrgs.br/wecom/enviar-evento/" />
		<add key="HEADER" value="Authorization" />
		<add key="TOKEN" value="Token ecbfd3593e523e219b30c78d569dca06464added" />
		<add key="USERSJSONPATCH" value="C:\Users\danil\OneDrive - Wecom S A\GitHub\ConsoleTestes\ConsoleTestes\agents.json" />
		<!--Parâmetro Extra Body-->
		<add key="UNIDADE" value="3329" />
	</appSettings>
</configuration>