<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="theme-dark" rel="stylesheet" href="./css/admin.css">
    <link rel="stylesheet" href="./css/cards.css">
    <link rel="stylesheet" href="./css/toast.css">
    <link rel="icon" type="image/png" sizes="96x96" href="./images/favicon.ico">
    <title>Painel Admin</title>
</head>
<body style="overflow-x: hidden; overflow-y: hidden" onload="load()" id="body"> 
<div class="colLeft">
    <div id="box" class="box-left">
        <div id="userpainel">
            <div id="logo-box">
                <a href="https://www.wecom.com.br">
                    <img src="./images/wecom.svg" alt="" width="95%">
                </a> 
            </div>
            
            <div id="box" class="itens" style="display: flex; flex-direction: column; align-items: baseline;">
                <ul id="dashhome" style="display: flex; align-items: center; height: 45px;">
                    <li class="dashhome">
                        <a href="#" class="user white usuario" id="usuario">
                            <span class="bggray"></span>
                        </a>
                    </li>
                    <h3>Home</h3>
                </ul>
                <ul id="useradd" style="display: flex; align-items: center; height: 45px;">
                    <li class="useradd">
                        <a href="#" class="user white usuario" id="usuario">
                            <span class="bggray"></span>
                        </a>
                    </li>
                    <h3>Adição de Usuário</h3>
                </ul>
                <ul id="departadd" style="display: flex; align-items: center; height: 45px;">
                    <li class="useradd">
                        <a href="#" class="user white usuario" id="usuario">
                            <span class="bggray"></span>
                        </a>
                    </li>
                    <h3>Adição de Locais</h3>
                </ul>
                <ul id="userlist" style="display: flex; align-items: center; height: 45px; align-items: center;">
                    <li class="listusers">
                        <a href="#" class="user white usuario" id="usuario">
                            <span class="bggray"></span>
                        </a>
                    </li>
                    <h3>Lista de Usuários</h3>
                </ul>
                
            </div>
        </div> 
    </div>
    <div class="main-user">
        <ul style="display: flex; align-items: center;width: 85%;">
            <li class="a-user">
                <a href="#" class="user white usuario" id="usuario">
                    <span class="bggray"></span>
                </a>
            </li>
            <h3 style="color: rgb(19, 137, 235);">User: Admin</h3>
            <li class="theme" id="theme"><a href="#"><img id="sun-moon" src="./images/sunny-day.png" alt="" style="width: 100%; height: 100%;"></a></li>
        </ul>
        <ul id="logout" style="width: 100%; display: flex; height: 100%; align-items: flex-end;">
            <li class="userlogout">
                <a href="#" class="user white usuario" id="usuario">
                    <span class="bggray"></span>
                </a>
            </li>
            <h3>Sair</h3>
        </ul>
    </div>      
</div>
      
<div class="colRight" id="action-painel" style="overflow-y: hidden;">
    <div id="id-home" style="position: absolute; width: 100%; height: -webkit-fill-available; display: block;">
    <div id="filters" class="filter"style="color: white;"><h3 style="width: 10%;" >Filtros:</h3>
        <div class="select-box" style="display: flex; flex-wrap: wrap;">
            <div style="width: 65%;"><label>Departamento: </label>
            </div>
            <div><select id="filter-department" ></select>
            </div>
          </div>
    </div>
    <scroll-container class="scrollcards">
        <div id="main-cards" class="main-cards">
        </div>
    </scroll-container>   
    </div>
    <div id="id-add-home" style="display: none;">
        <div class="login-box">
            <h2>Inclusão de Usuários</h2>
            <form>
                <div class="user-box">
                    <input type="text" id="name" name="" required="" autocomplete="off">
                    <label>Nome</label>
                </div>
                <div class="user-box">
                    <input type="text" id="sip" required="" autocomplete="off">
                    <label>SIP</label>
                </div>
                <div class="user-box">
                    <input type="text" id="num" name="" required="" maxlength="4" autocomplete="off">
                    <label>Ramal</label>
                </div>
                <div class="user-box">
                    <input type="text" id="pass" name="" required="" maxlength="50" autocomplete="off">
                    <label>Senha 3PCC</label>
                </div>
                <div class="user-box">
                    <input type="select" id="departamento" name="" required="" autocomplete="off">
                    <label>Departamento</label>
                </div>
                <div class="user-box">
                    <input type="text" id="location" name="" required="" autocomplete="off">
                    <label>Localização</label>
                </div>
                <div class="user-box">
                    <input type="text" id="email" name="" required="" autocomplete="off">
                    <label>E-mail</label>
                </div>
                <div class="img-box">
                    <label>Imagem</label>
                    <input type="file" name="" required="" id="file-upload-button">
                </div>
                <a href="#" id="a-upload-user">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Adicionar
                </a>
            </form>          
        </div>
    </div>
    <div id="id-list-home" style="display: none; width: 100%;">
        <div id="list-users" style="display: flex; width: 100%;">
            <scroll-container class="scrolltable"> 
              <div>
                <table id="data-table">
                </table>
              </div>           
            </scroll-container>
        </div>
    </div>
    <div id="id-add-dep" style="display: none;">
        <div class="add-box">
            <h2>Inclusão de Departamentos</h2>
            <form>
                <div class="user-box">
                    <input type="text" id="name" name="" required="" autocomplete="off">
                    <label>Departamento</label>
                </div>
                <a href="#" id="a-upload-user">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Adicionar
                </a>
            </form>          
        </div>
        <div class="add-box">
            <h2>Inclusão de Localidades</h2>
            <form>
                <div class="user-box">
                    <input type="text" id="name" name="" required="" autocomplete="off">
                    <label>Local</label>
                </div>
                <a href="#" id="a-upload-user">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Adicionar
                </a>
            </form>          
        </div>
    </div>
    <div id="id-add-local" style="display: none;">
        
    </div>
</div>
    <script src="./js/admin.js"></script>
</body>
</html>